services:
  - type: web
    name: retirezest-api
    runtime: python
    region: oregon
    plan: free
    branch: main
    rootDir: webapp/python-api
    buildCommand: pip install -r ../requirements-api.txt
    startCommand: uvicorn api.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        generateValue: true
    healthCheckPath: /api/health
